.tarjeta{
    border-style: solid;
    border-radius: 10px;
    border-color: blueviolet;
    border-width: 2px;

    width: 50%;

    margin: 15px auto 15px;

    padding: 30px;

    text-align: center;

    box-sizing: border-box;
}

img{
    width: 50%;
    height: 50%;
}